#SPP {
	background-color : #f2E5E5;
}
#SPP[focusedTab="partner"] {
	background-color : #e0e0e0;
}
#SPP > * {
	height : 66px;
	width : 100%;
	position : fixed;
}


#title_SPP {
	top : 0;
	line-height : 50px;
	background-image : -webkit-linear-gradient(top, #db3615, #b70d00);
	padding : 8px 6px 4px 6px;
	text-align : center;
	box-shadow : 0 0 5px #080103;
	z-index : 2;
}
#title_SPP > button {
	float : left;
	height : 54px;
	width : 70px;
	padding : 2px 10px;
	border : 1px solid #8b1f10;
	border-radius : 5px;
	background-color : #da3720;
	box-shadow : inset 0 2px 0 rgba(255, 255, 255, 0.1);
	background : url(../../../common/image/width48.png) no-repeat 6px 6px content-box content-box;
}
#title_SPP > button[action="add"] {
	background-position : 9px -45px;
	float : right;
}
#title_SPP > span {
	color : #f2f2f2;
	font-size : 30px;
}


.content_SPP {
	height : auto !important;
	top : 76px;
	bottom : 86px;
	padding : 0 10px;
}


#project > ul {
	max-width : 620px;
	margin : 0 auto;
	white-space : normal;
}
#project li {
	width : 50%;
	height : 195px;
	padding-right : 5px;
	margin-bottom : 10px;
}
#project li:nth-child(even) {
	padding : 0 0 0 5px;
	margin-left : -1px;
	position : relative;
	left : 1px;
}
#project figure {
	height : 100%;
	border : 2px solid #a7a7a7;
	border-radius : 10px;
	overflow : hidden;
}
#project figure[isimportant="true"] figcaption span {
	background-position : 0 0;
}
#project figcaption {
	height : 60px;
	padding : 12px;
	line-height : 34px;
	background-image : -webkit-linear-gradient(top, #e7e7e7, #d7d7d7);
	border-bottom : 2px solid #a7a7a7;
	font-size : 24px;
	text-indent : 15px;
}
#project figcaption span {
	float : right;
	height : 24px;
	width : 24px;
	margin : 5px 5px 0 0;
	background : url(../../../common/image/width24.png) no-repeat 0 -30px;
}
#project dl {
	height : 140px;
	font-size : 18px;
	background-image : -webkit-linear-gradient(top, #fdfdfd, #e9e9e9);
}
#project dd {
	height : 1px;
	margin-bottom : -1px;
	white-space : normal;
}
#project dd:first-of-type {
	height : 75px;
	margin : 0;
	overflow : hidden;
	margin-bottom : 15px;
	padding : 10px 20px 0 20px;
}
#project img {
	width : 26px;
	height : 26px;
	border-radius : 26px;
	margin : 0 0 13px 5px;
}
#project hr {
	width : 100%;
	position : relative;
	left : -20px;
	border-top : 1px dashed #9a9a9a;
}
#project dt {
	padding-left : 20px;
	height : 45px;
	line-height : 45px;
	overflow : hidden;
}
#project dt a {
	float : right;
	height : 0;
	width : 0;
	border-left : 45px solid transparent;
	border-bottom : 45px solid #c70000;
	text-indent : -25px;
	line-height : 60px;
	font-family : Arial;
	font-size : 18px;
	font-weight : bold;
	color : #fff;
	text-align : center;
}
#project dt a[unread="0"] {
	display : none;
}


#partner {

}


#tab_SPP {
	bottom : 0;
	height : 76px !important;
	background-image : -webkit-linear-gradient(top, #373737, #171717);
	padding : 4px 15px;
}
#tab_SPP li {
	width : 33.33%;
	height : 68px;
}
#tab_SPP li:nth-child(2) {
	padding : 0 15px;
}
#tab_SPP button {
	width : 100%;
	height : 100%;
	padding : 9px 0;
	border : 0 none;
	background-color : transparent;
}
#tab_SPP button.focused {
	background : #3a3a3a -webkit-linear-gradient(top, #3a3a3a, #3a3a3a 58%, #181818);
	box-shadow : inset 0 3px 5px rgba(0, 0, 0, 0.5);
	border-radius : 5px;
	border : 1px  solid rgba(255, 255, 255, 0.25);
	border-top : 0 none;
	border-bottom-width : 3px;
}
#tab_SPP button.focused span {
	color : #e42c19;
}
#tab_SPP span {
	display : inline-block;
	height : 50px;
	line-height : 50px;
	padding-left : 60px;
	color : #fefefe;
	font-size : 24px;
	font-family : 微软雅黑;
	text-indent : 10px;
	background : url(../../../common/image/width48.png) no-repeat 11px -98px;
}
#tab_SPP button[tab="project"] span {
	background-image : url(../../../common/image/width60.png);
	background-position : 1px -48px;
}
#tab_SPP button[tab="partner"] span {
	background-position : 13px -148px;
}