.scroll {
	width : 5px;
	background-color : rgba(50, 50, 50, 0.3);
	position : absolute;
	z-index : 2;
	overflow : hidden;
	display : none !important;
}
.scroll, .scroll > button {
	border-radius : 5px;
}
.scroll > button {
	background-color : rgba(200, 50, 50, 0.7);
	width : 100%;
	border : 0 none;
	position : relative;
}