.anchorList > ul {
	border-radius : 5px;
}
.anchorList li {
	height : 45px;
	padding : 8px 18px 0 18px;
}
.anchorList li:last-child {
	border : none;
}
.anchorList nav {
	width : 100%;
	height : 100%;
	position : relative;
}
.anchorList nav > * {
	position : absolute;
}
.anchorList aside {
	max-width : 245px;
	height : 26px;
	right : 7px;
	left : 0;
	top : 0;
}
.anchorList aside dt {
	font-size : 15px;
	height : 20px;
}
.anchorList aside dd {
	height : 10px;
}
.anchorList p {
	width : 7px;
	height : 13px;
	right : 0;
	top : 0;
	margin-top : 4px;
}
.anchorList a {
	display : block;
	background : url(../../common/image/width12.png) 0 -90px no-repeat;
	height : 100%;
	width : 100%;
}
.anchorList_level {
	background : url(../image/width12.png) 0 -29px;
	width : 33px;
	height : 9px;
}
.anchorList_level > li {
	height : 9px;
	width : 9px;
	padding : 0;
	margin-left : 3px;
	background : url(../image/width12.png) no-repeat 0 -15px;
}
.anchorList_level > li:first-child {
	margin-left : 0;
}


.userList figure {
	width : 74px;
	padding : 0 6px;
	padding-bottom : 22px;
}
.userList figcaption {
	margin-top : 10px;
	text-align : center;
	text-overflow : ellipsis;
	overflow : hidden;
}

.userIndexList > ol > li {
	padding-top : 2px;
}
.userIndexList dt {
	padding-top : 6px;
	height : 22px;
	overflow : hidden;
}
.userIndexList strong {
	padding : 0 25px 0 1em;
	text-indent : -1em;
	text-shadow : -2px 0 1px rgba(0, 0, 0, 0.4);
	color : #fff;
	line-height : 0;
	vertical-align : top;
	font-size : 14px;
	display : block;
	position : relative;
	left : 7px;
	height : 2px;
	background-image : -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5) 50%);
	background-clip : content-box;
}
.userIndexList aside {
	width : 11px;
	height : 338px;
	position : fixed;
	right : 8px;
	top : 88px;
	color : #6a737d;
}
.userIndexList ol {
	-webkit-column-count : auto;
}
.userIndexList aside li {
	text-align : center;
	font-weight : bold;
	font-size : 10px;
	line-height : 12px;
}
.userIndexList aside li[idx="-1"] {
	font-weight : normal;
}

.userSelectionList figure {
	width : 52px;
	padding : 2px;
}
.userSelectionList figure[id="-1"] > p {
	border : 3px dashed #ffd040;
	padding : 13px;
	box-shadow : none;
	background : url(../../../common/image/width24.png) 1px -149px no-repeat content-box content-box;
}
.userSelectionList figure[id="-1"]:nth-child(2) > p {
	background-position : 1px -169px;
}
.userSelectionList figure[id="-1"] img {
	display : none;
}
.userSelectionList figcaption {
	display : none;
}

.mask_userSelectionList > dl > dd {
	position : absolute;
	bottom : 0;
	top : 55px;
	left : 20px;
	right : 20px;
}
.mask_userSelectionList .userIndexList aside {
	right : 25px;
	top : 95px;
	color : #e26816;
}
