* {
	margin : 0;
	padding : 0;
	outline : 0 none;
	box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-user-select : none;
	list-style : none none outside;
}

body {
	white-space : nowrap;
}

body, button {
	color : #2e2e2e;
	font-size : 12px;
	font-family : 微软雅黑;
}

script {
	display : none !important;
}

*:link {
	text-decoration : none;
	color : inherit;
}

a:visited {
	color : inherit;
}

img {
	display : block;
	-webkit-user-drag : none;
}
img[src="javascript:void(0);"] {
	background-color : rgba(0, 200, 0, 0.1);
}

hr {
	border : 0 none;
}

h1 {
	font-size : 2em;
}

h2 {
	font-size : 1.5em;
}

h3 {
	font-size : 1.17em;
}

h4 {
	font-size : 1em;
}

h5 {
	font-size : 0.83em;
}

h6 {
	font-size : 0.67em;
}

.main {
	position : absolute;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	overflow : hidden;
}
.main > * {
	min-height : 100%;
}

.text {
	overflow : hidden;
	text-overflow : ellipsis;
	max-width : 100%;
	display : inline-block;
	vertical-align : top;
}

.themeColor, .themeBgColor {
	background-color : #433b38;
}
.themeBdColor {
	border : 1px solid #433b38;
}
.lightBgColor {
	background-color : #898;
}
.themeColor, .lightBdColor {
	border : 1px solid #898;
}

.onlyBorderBottom {
	border-top : 0 none;
	border-left : 0 none;
	border-right : 0 none;
}

.inlineBlock {
	font-size : 0;
	white-space : normal;
}
.inlineBlock > * {
	font-size : 12px;
	display : inline-block;
	vertical-align : top;
}

.whiteFont {
	color : #fefefe;
}
.grayFont {
	color : #666;
}