.calendar {
	font-family : Arial;
}
.calendar .inlineBlock > * {
	width : 14%;
	border-right : 1px solid #4e4e4e;
	border-bottom : 1px solid #4e4e4e;
}
.calendar dt span {
	height : 20px;
	line-height : 20px;
	text-align : center;
	font-weight : bold;
	font-size : 10px;
}
.calendar dt span[day="0"], .calendar ol li[day="0"], .calendar dt span[day="6"], .calendar ol li[day="6"] {
	width : 15%;
}
.calendar dt span, .calendar ol li.focusedDate {
	background-color : #6f6f6f;
}
.calendar dt span[day="1"], .calendar ol li.focusedDate[day="1"] {
	background-color : #e26815;
}
.calendar dt span[day="2"], .calendar ol li.focusedDate[day="2"] {
	background-color : #867bc9;
}
.calendar dt span[day="3"], .calendar ol li.focusedDate[day="3"] {
	background-color : #39bead;
}
.calendar dt span[day="4"], .calendar ol li.focusedDate[day="4"] {
	background-color : #00b0d7;
}
.calendar dt span[day="5"], .calendar ol li.focusedDate[day="5"] {
	background-color : #f1af10;
}
.calendar dd {
	width : 100%;
	height : 225px;
	overflow : hidden;
	position : absolute;
	top : 20px;
	outline : 1px solid #4e4e4e;
}
.calendar ul {
	height : 100%;
	color : #ccc;
}
.calendar ul > li {
	position : relative;
}
.calendar ul > li.focused > p {
	display : none;
}
.calendar ul > li[weeks="4"]:first-child {
	margin-top : -180px;
}
.calendar ul > li[weeks="5"]:first-child {
	margin-top : -225px;
}
.calendar li.focused li[datestatus="0"], .calendar li.focused+li li[datestatus="-1"] {
	color : #484848;
}
.calendar ol li {
	height : 45px;
	background-color : #fff;
	font-size : 24px;
	text-align : right;
	padding : 5px;
}
.calendar ol li.focusedDate {
	color : #fff !important;
}
.calendar ol small {
	display : none;
	font-size : 10px;
}
.calendar li.focusedDate small{
	display : block;
}
.calendar p {
	position : absolute;
	top : 50%;
	left : 50%;
	width : 100px;
	height : 80px;
	margin : -40px -50px;
	font-size : 26px;
	line-height : 40px;
	text-align : center;
	background-color : rgba(0,0,0,0.3);
}
.calendar p small {
	display : block;
}