.main {
	position : absolute;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	overflow : hidden;
}
.main > div {
	position : absolute;
	width : 100%;
	top : 28px;
	bottom : 0;
	display : none;
}
.main > div > * {
	display : none;
	width : 100%;
	position : absolute;
	bottom : 0;
	top : 0;
}

#titleBar {
	height : 28px;
}
#titleBar > * {
	height : 100%;
	margin : 5px 0;
	height : 18px;
}
#titleBar button {
	border : 0 none;
	display : block;
}
#titleBar > nav > button {
	width : 24px;
	height : 18px;
	background : url(../../../common/image/width12.png) no-repeat 8px -104px;
}
#titleBar > p {
	text-indent : 8px;
}
#titleBar strong {
	line-height : 17px;
}
#titleBar > ul {
	float : right;
	margin : 0;
	height : auto;
}
#titleBar > ul button {
	height : 28px;
	width : 28px;
	border : 0 none;
	background-color : transparent;
}

.projectColor_orange {
	background-color : #f1af0f;
	border-color : #f1af0f !important;
}
.projectColor_BY {
	background-color : #e26917;
	border-color : #e26917 !important;
}
.projectColor_BG {
	background-color : #39bead;
	border-color : #39bead !important;
}
.projectColor_blue {
	background-color : #00b0d6;
	border-color : #00b0d6 !important;
}
.projectColor_BR {
	background-color : #ce312d;
	border-color : #ce312d !important;
}
.projectColor_purple {
	background-color : #867bc8;
	border-color : #867bc8 !important;
}