.main {
	position : absolute;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	overflow : hidden;
}
.main > div {
	position : absolute;
	width : 100%;
	top : 28px;
	bottom : 0;
	display : none;
}
.main > div > * {
	display : none;
	width : 100%;
	position : absolute;
	bottom : 0;
	top : 0;
}

#titleBar {
	height : 28px;
	position : relative;
	z-index : 3;
}
#titleBar > * {
	height : 100%;
	margin : 5px 0;
	height : 18px;
}
#titleBar button {
	border : 0 none;
	display : block;
}
#titleBar > nav {
	padding : 2px 0;
}
#titleBar > nav > button {
	width : 24px;
	height : 14px;
	background : url(../../../common/image/width12.png) no-repeat 8px -105px;
}
#titleBar > p {
	text-indent : 8px;
}
#titleBar strong {
	line-height : 17px;
}
#titleBar > ul {
	float : right;
	margin : 0;
	height : auto;
}
#titleBar > ul button {
	height : 28px;
	width : 28px;
	border : 0 none;
	background-color : transparent;
}

#mask {
	display : none;
	position : absolute;
	top : 0;
	left : 0;
	bottom : 0;
	right : 0;
	z-index : 4;
	background-color : rgba(0, 0, 0, 0.7);
}
#mask > article {
	position : absolute;
	left : 15px;
	right : 15px;
	top : 30px;
	bottom : 30px;
	padding : 20px 15px;
	box-sizing : content-box;
	background-color : #fff;
	border-radius : 5px;
	border : 2px solid #f1af0f;
}

.projectColor_orange, .projectColor_0 {
	background-color : #f1af0f;
	border-color : #f1af0f !important;
}
.projectColor_BY, .projectColor_1 {
	background-color : #e26917;
	border-color : #e26917 !important;
}
.projectColor_BG, .projectColor_2 {
	background-color : #39bead;
	border-color : #39bead !important;
}
.projectColor_blue, .projectColor_3 {
	background-color : #00b0d6;
	border-color : #00b0d6 !important;
}
.projectColor_BR, .projectColor_4 {
	background-color : #ce312d;
	border-color : #ce312d !important;
}
.projectColor_purple, .projectColor_5 {
	background-color : #867bc8;
	border-color : #867bc8 !important;
}

.largeAvatarPanel, .normalAvatarPanel {
	width : 62px;
	height : 62px;
	border-radius : 62px;
	overflow : hidden;
	border : 2px solid rgba(255, 255, 255, 0.5);
	box-shadow : 0 0 3px rgba(8, 1, 3, 0.75);
}
.largeAvatarPanel > img {
	width : 58px;
	height : 58px;
}
.normalAvatarPanel {
	width : 48px;
	height : 48px;
	border-radius : 48px;
}
.normalAvatarPanel > img {
	width : 44px;
	height : 44px;
}


.validationError {
	-webkit-animation : validationError steps(28) 2s 2;
	border : 1px solid #f50;
	box-shadow : inset 0 0 2px #f50;
}
@-webkit-keyframes validationError {
	0% {
		opacity : 1;
	}
	30% {
		opacity : 0.2;
	}
	100% {
		opacity : 1;
	}
}