.loadingBar {
	width : 100%;
	height : 44px;
	padding : 10px 0;
	display : block !important;
}
.loadingBar[type="loading"] > span {
	width : 24px;
	height : 24px;
	margin : auto;
	background : url(../image/width24.png) no-repeat 0 -75px;
	-webkit-animation : loading 1s steps(14) infinite;
}
@-webkit-keyframes loading {
	from {
		-webkit-transform : rotate(0deg);
	}
	to {
		-webkit-transform : rotate(360deg);
	}
}
.loadingBar > span {
	display : block;
	line-height : 24px;
	text-align : center;
}