#titleBar button[action="submit"] {
	background-color : #ffc000;
	background : #ffc000 url(../../../common/image/width24.png) no-repeat 7px -118px;
}

#addProject {
	font-size : 14px;
	padding : 10px;
}
#addProject > * {
	height : 45px;
	line-height : 25px;
	border-radius : 5px;
	margin-top : 5px;
	padding : 10px;
	overflow : hidden;
	background-color : #fff;
}
#addProject > *:first-child {
	margin-top : 0;
}
#addProject > header {
	height : auto;
}
#addProject > header figcaption {
	display : none;
}
#addProject textarea, #addProject input {
	display : block;
	border : 0 none;
	height : 100%;
	width : 100%;
}
#addProject > section.inlineBlock > * {
	font-size : 14px;
}
#addProject > section > dl, #addProject > section dd {
	height : 100%;
}
#addProject > section dt {
	color : #a9a9a9;
	width : 25%;
}
#addProject > section dd {
	width : 75%;
	text-align : center;
}
#addProject > section button {
	width : 22px;
	height : 22px;
	border : 0 none;
	border-radius : 22px;
	margin-right : 10px;
}
#addProject > section button:last-child {
	margin-right : 0;
}
#addProject > section button.selected {
	width : 30px;
	height : 30px;
	padding : 3px;
	border-radius : 30px;
	background-clip : content-box;
	border : 1px solid;
	margin : -4px 6px -4px -4px;
}
#addProject > section button.selected:last-child {
	margin-right : -4px;
}
#addProject > footer {
	height : auto;
}
#addProject > footer textarea {
	max-height : 105px;
	min-height : 105px;
	max-width : 100%;
	min-width : 100%;
}