#account {
	padding : 10px;
}
#account > * {
	border-radius : 5px;
	margin-bottom : 5px;
	background-color : #fff;
}
#account dl {
	height : 45px;
	line-height : 45px;
	position : relative;
}
#account dl > * {
	height : 100%;
	font-size : 14px;
}
#account dl > dt {
	width : 80px;
	text-align : right;
}
#account dl > dd {
	position : absolute;
	left : 85px;
	right : 5px;
	top : 0;
}
#account li:last-child > dl, #account > footer dl:last-child {
	border : 0 none;
}
#account input {
	height : 100%;
	width : 100%;
	border : 0 none;
	overflow : hidden;
	text-overflow : ellipsis;
	background-color : transparent;
}
#account input:not([readonly]) {
	color : inherit;
}
#account input[readonly] {
	background-color : transparent;
}
#account > header > figure {
	position : relative;
	height : 90px;
}
#account > header aside, #account > header ul {
	position : absolute;
}
#account > header aside {
	left : 0;
	width : 62px;
	height : 62px;
	padding : 14px 11px;
	box-sizing : content-box;
	border-top : 0 none;
	border-left : 0 none;
	border-bottom : 0 none;
}
#account > header ul {
	left : 85px;
	right : 0;
	height : 100%;
}
#account > header dt {
	width : 55px;
}
#account > header dd {
	left : 60px;
}
#account > section > ul {
	border-radius : 5px;
}
#account dl[desc="pwd"] {
	border : 0 none;
}
#account dl[desc="editPwd"], #account dl[desc="rePwd"], #account.editable dl[desc="pwd"] {
	display : none;
}
#account.editable dl[desc="editPwd"], #account.editable dl[desc="rePwd"] {
	display : block;
}
#titleBar button[action="editAccount"] {
	border : 1px solid #39a85a;
	border-width : 6px 5px;
	background : #39a85a url(../../../common/image/width24.png) 1px -425px no-repeat;
	background-clip : content-box;
}
#titleBar button[action="submit account"] {
	background-color : #ce312d;
}
