#addProject {
	font-size : 14px;
	padding : 10px;
}
#addProject > * {
	height : 45px;
	line-height : 25px;
	margin-top : 5px;
	padding : 10px;
	overflow : hidden;
	background-color : #fff;
}
#addProject > *:first-child {
	margin-top : 0;
}
#addProject > header {
	height : auto;
	padding : 0;
	max-height : 200px;
}
#addProject > header > .userManagementList {
	padding : 10px 5px;
}

#addProject textarea, #addProject input {
	display : block;
	border : 0 none;
	height : 100%;
	width : 100%;
}
#addProject > section.inlineBlock > * {
	font-size : 14px;
}
#addProject > section > dl, #addProject > section dd {
	height : 100%;
}
#addProject > section dt {
	width : 25%;
}
#addProject > section dd {
	width : 75%;
	text-align : center;
}
#addProject > section button {
	width : 22px;
	height : 22px;
	border : 0 none;
	border-radius : 22px;
	margin-right : 10px;
}
#addProject > section button:last-child {
	margin-right : 0;
}
#addProject > section button.selected {
	width : 30px;
	height : 30px;
	padding : 3px;
	border-radius : 30px;
	background-clip : content-box;
	border : 1px solid;
	margin : -4px 6px -4px -4px;
}
#addProject > section button.selected:last-child {
	margin-right : -4px;
}
#addProject > footer {
	height : auto;
}
#addProject > footer textarea {
	max-height : 105px;
	min-height : 105px;
	max-width : 100%;
	min-width : 100%;
}

#businessCard {
	font-size : 15px;
}
#businessCard > section {
	background-color : #00b0d6;
	padding : 8px;
}
#businessCard > section > *, #businessCard > footer {
	background-color : #fff;
	padding : 10px 15px;
}
#businessCard dl[desc="userinfo"] {
	height : 180px;
	margin-bottom : 8px;
	background : url(../../image/businessCard_background.png) #fff 0 55px no-repeat;
}
#businessCard dl[desc="userinfo"] > dt {
	height : 62px;
	line-height : 62px;
}
#businessCard dl[desc="userinfo"] strong {
	font-size : 20px;
	padding : 0 8px 0 10px;
}
#businessCard dl[desc="userinfo"] small {
	position : relative;
	top : 3px;
}
#businessCard dl[desc="userinfo"] > dd {
	height : 90px;
	position : relative;
	margin-top : 8px;
}
#businessCard dl[desc="userinfo"] ul {
	padding : 12px 0 6px 0;
	position : absolute;
	left : 0;
	right : 115px;
}
#businessCard dl[desc="userinfo"] li {
	height : 18px;
	line-height : 18px;
	background : url(../../../common/image/width12.png) 1px -115px no-repeat;
	padding-left : 15px;
	text-overflow : ellipsis;
	overflow : hidden;
	white-space : nowrap;
}
#businessCard dl[desc="userinfo"] li[info="phoneNum"] {
	background-position : 2px -132px;
}
#businessCard aside {
	width : 90px;
	height : 90px;
	margin-left : 20px;
	float : right;
}
#businessCard aside > img {
	width : 100%;
	height : 100%;
}
#businessCard p[desc="authority"], #businessCard > footer {
	height : 45px;
	line-height : 25px;
}
#businessCard p[desc="authority"] button {
	float : right;
	background-color : #00b0d6;
	padding : 1px;
	border : 0 none;
	border-radius : 25px;
	width : 58px;
	height : 25px;
}
#businessCard p[desc="authority"] small {
	float : right;
	display : block;
	width : 23px;
	height : 23px;
	border-radius : 23px;
	background-color : #fff;
}
#businessCard > footer {
	margin : 8px 10px;
}
#businessCard > footer > button {
	float : right;
	width : 26px;
	height : 26px;
	line-height : 26px;
	border-radius : 26px;
	border : 0 none;
	background-color : #ce312d;
}

#systemOption {
	padding : 10px 15px;
}
#systemOption > footer {
	text-align : center;
	margin-top : 35px;
}
#systemOption > footer > button {
	width : 72px;
	height : 72px;
	border-radius : 72px;
	border : 5px solid #cf312e;
	padding : 3px;
	background-color : #cf312e;
	background-clip : content-box;
	font-size : 20px;
}

#singleProject {
	padding : 5px 10px;
}
.singleProject_tab {
	background-color : #fff;
	margin : 0 2px;
}
.singleProject_tab > li {
	width : 33.33%;
	height : 24px;
	padding : 2px 0;
	line-height : 20px;
	text-align : center;
	border-left : 0 none;
	border-top : 0 none;
	border-bottom : 0 none;
}
.singleProject_tab > li:last-child {
	border : 0 none;
}
.singleProject_tab > li.focused {
	background-color : #f1af0f;
}
.singleProject_tab > li:not(.focused) {
	color : inherit;
}
.singleProject_tab span {
	width : 20px;
	height : 20px;
	border-radius : 20px;
	background-color : #e26816;
	margin-left : 5px;
	display : inline-block;
	vertical-align : top;
	font-size : 16px;
}
.singleProject_tab span:empty {
	display : none;
}
.singleProject_info {
	margin-top : 5px;
}
.singleProject_info > dt {
	height : 30px;
	line-height : 30px;
	font-size : 18px;
	text-indent : 1em;
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
}
.singleProject_info > dd {
	background-color : transparent;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	padding : 5px 10px;
}
.singleProject_info figure {
	height : 20px;
	line-height : 20px;
}
.singleProject_info figcaption {
	margin-left : 5px;
}
.singleProject_info dd > p {
	margin-top : 8px;
	height : 56px;
	white-space : normal;
	word-break : break-all;
	line-height : 14px;
	overflow : hidden;
}
.singleProject_info nav {
	line-height : 20px;
	margin-top : 15px;
	white-space : nowrap;
}
.singleProject_info nav > span {
	width : 48px;
}
.singleProject_info nav > p {
	width : 100%;
	padding-left : 48px;
	position : relative;
	left : -48px;
}
.singleProject_info nav a {
	margin : 0 3px 3px 0;
}
.singleProject_info aside {
	height : 50px;
	margin-top : 10px;
	display : none;
}