#SPP > * {
	bottom : 60px;
}

#schedule > header {
	width : 100%;
}
#schedule .calendar {
	z-index : 2;
}
#schedule .calendar_month aside[projectslength] {
	display : inline-block;
	-webkit-column-width : 5px;
	-webkit-column-gap : 0;
	height : 40px;
}
#schedule .calendar_month aside[projectslength="0"], .schedule_list > li[projectslength="0"] {
	display : none;
}
#schedule > section > nav {
	position : absolute;
	bottom : 0;
	top : 115px;
	left : 10px;
	right : 10px;
}
#schedule > section > nav.calendarStretched {
	top : 292px;
}
.schedule_list {
	min-height : 100%;
}
.schedule_list dt.whiteFont {
	height : 20px;
	padding : 3px 0;
}
.schedule_list dt.whiteFont > span {
	display : block;
	width : 105px;
	height : 14px;
	line-height : 14px;
	margin : 0 auto;
	text-align : center;
	border-radius : 3px;
}
.calendar_month aside > span {
	display : block;
	width : 5px;
	height : 10px;
}


#project {
	
}
#project > ul {
	max-width : 310px;
	margin : 0 auto;
	padding : 5px 0;
}
#project li {
	width : 50%;
	padding-right : 2px;
	margin-bottom : 5px;
}
#project li:nth-child(even) {
	padding : 0 0 0 2px;
	margin-left : -1px;
	position : relative;
	left : 1px;
}
#project figure {
	height : 95px;
	border-radius : 5px;
	overflow : hidden;
}
#project figure[status="0"] figcaption {
	background-color : #bbb;
}
#project figure[status="-1"] {
	opacity : 0.5;
	padding : 28px 0;
	background : url(../../../common/image/width24.png) no-repeat center -275px content-box content-box;
}
#project figure[status="-1"] > * {
	display : none;
}
#project figure[isimportant="true"] figcaption span {
	background-position : 0 -15px;
}
#project figcaption {
	height : 30px;
	padding : 5px 5px 0 5px;
	line-height : 12px;
	text-indent : 5px;
	color : #fff;
}
#project figcaption > span {
	display : block;
	height : 14px;
}
#project strong {
	display : block;
	height : 10px;
	width : 33px;
	padding-top : 1px;
	margin-left : 5px;
	position : relative;
	top : -1px;
	text-indent : 0;
	background : url(../../../common/image/width12.png) 0 -29px;
	background-origin : content-box;
}
#project strong > span {
	height : 9px;
	width : 9px;
	margin-left : 3px;
	background : url(../../../common/image/width12.png) no-repeat 0 -15px;
}
#project strong > span:first-child {
	margin-left : 0;
}
#project dd {
	height : 1px;
	padding : 0 10px;
}
#project dd:first-of-type {
	height : 30px;
	margin : 0;
	overflow : hidden;
	margin : 8px;
	padding : 0;
}
#project img {
	width : 13px;
	height : 13px;
	border-radius : 13px;
	margin : 0 0 4px 2px;
}
#project hr {
	width : 100%;
	border-top : 1px dashed #9a9a9a;
	background-color : transparent;
}
#project dt {
	height : 18px;
	padding-left : 10px;
	overflow : hidden;
	font-size : 9px;
}
#project dt a {
	float : right;
	height : 24px;
	width : 24px;
	border-radius : 24px;
	position : relative;
	left : 8px;
	top : 3px;
	text-align : center;
	text-indent : -5px;
	line-height : 15px;
}
#project dt a[unread="0"] {
	display : none;
}

#partner > ul > li {
	position : relative;
	z-index : 2;
}
#partner > ul > li:last-child {
	z-index : 0;
	position : absolute;
	top : 38px;
	bottom : 0;
	left : 0;
	right : 0;
}
#partner .group dt {
	position : fixed;
	background-color : #fff;
}
#partner .group dd {
	margin-left : 90px;
}
#partner .group button {
	width : 36px;
	height : 16px;
	background-color : transparent;
	border-radius : 3px;
}
#partner .group button[groupid] {
	border : 0 none;
}
#partner .group button[action="addGroup"] {
	width : 53px;
	height : 18px;
}
#partner .group button.focused {
	background-color : #ff0;
}
#partner .group ul {
	white-space : nowrap;
}
#partner .userIndexList aside {
	bottom : 85px;
}

#tab_SPP {
	display : block;
	top : auto;
	bottom : 5px;
	height : 50px !important;
}
#tab_SPP > ul {
	width : 192px;
	height : 50px;
	padding : 5px;
	background-image : url(../../image/navigator_button.png);
	margin : 0 auto;
}
#tab_SPP li {
	width : 40px;
	height : 40px;
	border-radius : 40px;
	border : 1px solid #39a85a;
	margin-right : 31px;
	overflow : hidden;
}
#tab_SPP li[tab="project"] {
	border-color : #f1af0f;
}
#tab_SPP li[tab="partner"] {
	border-color : #00b0d6;
	margin-right : 0;
}
#tab_SPP button {
	width : 100%;
	height : 100%;
	border : 0 none;
	display : block;
	padding : 9px;
	background : url(../../../common/image/width24.png) 0 0 no-repeat content-box content-box;
}
#tab_SPP li[tab="project"] > button {
	background-position : 3px -25px;
}
#tab_SPP li[tab="partner"] > button {
	background-position : 0 -50px;
}
#tab_SPP li[tab="project"] > button {
	background-position : 3px -25px;
}